<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.ylht.mapper.ClientMapper">
    <select id="getClientAll" resultType="Client">
        select * from client where 1=1
        <if test="cname!=null and cname!=''">
        and cname like concat('%',#{cname},'%')
    </if>
        <if test="phone!=null and phone!=''">
            and phone like concat('%',#{phone},'%')
        </if>

    </select>
</mapper>