<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.ylht.mapper.MpuserMapper">
    <select id="getUserAll" resultType="Mpuser">
        select * from mpuser where 1=1
        <if test="mname!=null and mname!=''">
            and mname like concat('%',#{mname},'%')
        </if>
        <if test="roleid!=null and roleid>0">
            and roleid like concat('%',#{roleid},'%')
        </if>
    </select>
</mapper>