<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylht.mapper.ProductandWarehouseMapper">
<select id="selectproduct" resultType="Product">
    select p.*,p1.operationtime as operationtime from product p,productrecord p1 where p.pid=p1.pid
    <if test="pname!=null and pname!=''">
        and p.pname=#{pname}
    </if>
    <if test="coding!=null and coding!=''">
        and p.coding=#{coding}
    </if>
</select>
</mapper>
