<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylht.mapper.DeliveryMapper">
    <select id="getDelivery" resultType="Delivery">
        SELECT d.did,d.address,d.deliverytime,p.coding as pcoding,m.realname as moperator FROM delivery d,product p,mpuser m WHERE d.coding=p.pid AND d.operator=m.mpid
        <if test="aftertype!=0 and aftertype!=null">
            AND d.aftertype=#{aftertype}
        </if>
        <if test="address!='' and address!=null">
            OR d.address LIKE concat ('%',#{address},'%') OR m.realname LIKE concat ('%',#{address},'%')
        </if>
    </select>
    <select id="getDeliveryOne" resultType="Delivery">
        SELECT d.did,d.phone,d.address,d.deliverytime,p.coding as pcoding,m.realname as moperator FROM delivery d,product p,mpuser m WHERE d.coding=p.pid AND d.operator=m.mpid
        <if test="aftertype!=0 and aftertype!=null">
            AND d.aftertype=#{aftertype}
        </if>
        <if test="did!=0 and did!=null">
            AND d.did = #{did}
        </if>
        <if test="address!='' and address!=null">
            OR d.address LIKE concat ('%',#{address},'%') OR m.realname LIKE concat ('%',#{address},'%')
        </if>
    </select>
</mapper>