<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylht.mapper.DeliveryMapper">
    <select id="getDelivery" resultType="Delivery">
        SELECT d.*,m.`realname` AS moperator FROM delivery d,mpuser m WHERE d.`operator`=m.`mpid`
        <if test="aftertype!=0 and aftertype!=null">
            AND d.aftertype=#{aftertype}
        </if>
        <if test="address!='' and address!=null">
            OR d.address LIKE concat ('%',#{address},'%') OR m.realname LIKE concat ('%',#{address},'%')
        </if>
    </select>
    <select id="getDeliveryOne" resultType="Delivery">
        SELECT d.*,m.realname as moperator FROM delivery d,mpuser m WHERE d.operator=m.mpid
        AND d.did = #{did}
    </select>
</mapper>