<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylht.mapper.InstallrecordMapper">
    <select id="getRecord" resultType="Installrecord">
        SELECT i.*,m.`realname` as moperator FROM installrecord i,mpuser m WHERE i.operator=m.`mpid`
        <if test="address!='' and address!=null">
            AND m.`realname` LIKE CONCAT ('%',#{address},'%')
        </if>
    </select>
    <select id="getRecordOne" resultType="Installrecord">
        SELECT i.*,m.`realname` as moperator FROM installrecord i,mpuser m WHERE i.operator=m.`mpid` AND i.rid=#{rid}
    </select>
</mapper>